<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">Stanciu Andrei</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            id="navbarDropdownMenuLink"
            href="#"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
          >Film</a>
          <div class="dropdown-menu">
            <a href="/films" class="dropdown-item">Filme</a>
            <a href="/films/add" class="dropdown-item">Add Films</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>